<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Sitter</title> 
    <link rel="stylesheet" th:href="@{/css/auth/styles.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="auth-bg">
    <div class="auth-container">
        <input type="text" class="auth-text-container">
        <input type="password" class="auth-text-container password">
        <button class="auth-login-button">
            Login
        </button>
    </div>
</body>
</html>